@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap';
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

body {
  background: black;
  background-repeat: repeat;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.prompt {
  display: inline-block;
  color: red;
  padding-top: 5px;
  padding-left: 5px;
}

.prompt-input > input {
  border: 0;
  outline: none;
  background: inherit;
  font: inherit;
  color: inherit;
}

.output {
  margin-left: 5px;
}

.info {
  padding: 10px;
  color: green;
}

.info .highlighted-info {
  color: cyan;
}

.highlight {
  color: orange;
}

.error {
  color: red;
}

.project-link {
  color: red;
  background-color: blue;
}

.project-link:hover {
  background-color: yellow;
}

@media only screen and (max-width: 480px) {
  .prompt-lg {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .prompt-sm {
    display: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  padding: 10px;
  overflow: hidden;
}

.image img {
  width: 260px;
  height: 200px;
}

.longinfo {
  word-wrap: anywhere;
  padding: 10px;
  color: green;
}

.shellContainer {
    overflow: hidden;
}

.ls-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  border: 1px solid green;
  width: 75%;
  height: 75%;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: bold;
}
