@import "https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap";
body {
    background: black;
    background-repeat: repeat;
    font-family: "Source Code Pro", monospace;
    color: white;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prompt {
    display: inline-block;
    color: red;
    padding-top: 5px;
    padding-left: 5px;
}

.prompt-input>input {
    border: 0;
    outline: none;
    background: inherit;
    font: inherit;
    color: inherit;
}

.output {
    margin-left: 5px;
}

.info {
    padding: 10px;
    color: green;
}

.info .highlighted-info {
    color: cyan;
}

.highlight {
    color: orange;
}

.error {
    color: red;
}


.project-link {
    color: red;
    background-color: blue;
}

.project-link:hover {
    background-color: yellow;
}


@media only screen and (max-width: 480px) {
    .prompt-lg {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .prompt-sm {
        display: none;
    }
}

.image {
    padding: 10px;
    overflow: hidden;
}

.image img {
    width: 260px;
    height: 200px;
}
